
.admin-login-container{
    display: flex; 
    padding-bottom: 30px; 
    justify-content: center;
    width: 25%;
    min-width: 300px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 10px;
    margin-top: 10%;
    box-shadow: 2px 3px 3px 2px #53535360;
}
.login-form-header-area{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid dodgerblue;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-header-icon{
    font-size: 36px;
    margin-right: 10px;
}
.login-form-header{
    font-size: 24px;
    font-weight: bold;
}
.admin-login-company-logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-login-company-logo{
    width: 150px;
    height: 150px;
}
.login-form-input-container{
    margin-top: 30px;
}
.login-form-input-area{
    display: flex;
    align-items: center;
}
.login-form-input{
    background-color: transparent;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
}
.login-form-input:focus{
    outline: none;
    border-bottom: 3px solid dodgerblue;
}
.login-form-input-icon{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.login-form-button-area{
    display: flex;
    justify-content: center;
}
.login-form-button{
    border:2px solid dodgerblue;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: dodgerblue;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.login-form-button:hover{
    background-color: dodgerblue;
    color: white;
}
.login-form-button-icon{
    font-size: 28px;
    margin-left: 5px;
}
.login-error{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(173, 25, 25);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.login-error-icon{
    color: rgb(173, 25, 25);
    font-size: 24px;
    margin-right: 5px;
}
.login-error-text{
    color: rgb(173, 25, 25);
    font-size: 16px;
    font-weight: 600;
}
.empty-error{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(197, 71, 25);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.empty-error-icon{
    color: rgb(197, 71, 25);
    font-size: 24px;
    margin-right: 5px;
}
.empty-error-text{
    color: rgb(197, 71, 25);
    font-size: 16px;
    font-weight: 600;
}
.success-login{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(24, 116, 24);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.success-login-icon{
    color: rgb(24, 116, 24);
    font-size: 24px;
    margin-right: 5px;
}
.success-login-text{
    color: rgb(24, 116, 24);
    font-size: 16px;
    font-weight: 600;
}